<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://i.ibb.co/sqx588n/mclogo.png">

    <title>MustangConnect</title>
    <link href='https://fonts.googleapis.com/css?family=Lora'
      rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans'
      rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

    <style>
      html {
          height: 100%;
          overflow: hidden;
      }

      body {
          background-image: url(/images/loginbackground.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          overflow: hidden;
      }
    </style>
  </head>
  <body>
    <p class="intro_header"> Welcome to MustangConnect! </p>
    <p class="intro_body">
    A platform where Cal Poly students can meet new people and
    discover new clubs to truly make Cal Poly their "home away
    from home".
    </p>

    <div class="index_field_cont" style="height: 13vh">
    <form action="/changePass">
      <input type="password" name='psswd1' id="psswd1" class="login_form_control" placeholder="New Password" required autofocus>
      <br><br>
      <a>
        <button class="change_psswd" type="submit">Change Password</button>
      </a>
    </form>
    </div>

    <span style="position: absolute; bottom: 1%; right: 1%;
                 background-color: black">
    <a style="color: white; font-size: 100%; text-decoration: none"
     href="https://gopoly.com/images/2020/7/8/CPCampusByBrittanyAnzelApp.jpg?width=1416&height=797
           &mode=crop&scale=both&format=jpg&quality=80" target="_blank">
      Photo Credits: Brittany App (click here for photo link)
    </a>
    </span>

  </body>
</html>
