<!DOCTYPE html>
<html>
<body>

<h1>The input accept attribute</h1>

<form action="/post">
  <label for="img">Select image:</label>
  <input type="file" id="img" name="img" >
  <label for="des">Description of the event:</label>
  <input type="text" id="des" name="des"><br><br>
  <input type="submit" value="Submit">
</form>

<p><strong>Note:</strong> Because of security issues, this example will not allow you to upload files.</p>

</body>
</html>
