<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://i.ibb.co/sqx588n/mclogo.png">

    <title>MustangConnect</title>
    <link href='https://fonts.googleapis.com/css?family=Lora'
      rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans'
      rel='stylesheet'>
  </head>

  <style>
    html {
        height: 100%;
        overflow: hidden;
    }

    body {
        background-image: url(/images/loginbackground.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
    }

    .intro_header {
        text-align: center;
        margin-top: 70px; 
        color: white;
        font-family: "Lora";
        font-weight: 600;
        font-size: 36px;
    }

    .intro_body {
        text-align: center;
        margin-top: -30px;
        color: white;
        font-family: "Open Sans";
        font-weight: 500;
        font-style: italic;
        font-size: 20px;
    }

    div.field_cont {
        width: 400px;
        height: 100px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -140px 0 0 -220px;
        background-color: white;
        border: 2px solid gainsboro;
        border-radius: 8px;
    }

    .form-control {
        width: 90%;
        margin: 0px 20px;
        height: 40px;
        box-sizing: border-box;
        font-family: "Open Sans";
        font-size: 16px;
        border: 2px inset gainsboro;
    }

    .form-control:focus {
        outline: none;
    }
    
    button.change {
        margin: 0px 80px;
        width: 60%;
        background-color: #98b096;
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-family: "Open Sans";
        border: 2px outset #98b096;
        cursor: pointer;
    }

    button.change:hover {
      background-color: #6dab68;
    }

  </style>

  <body>
    <p class="intro_header"> Welcome to MustangConnect! </p>
    <p class="intro_body">
    A platform where Cal Poly students can meet new people and
    discover new clubs to truly make Cal Poly their "home away
    from home".
    </p>

    <div class="field_cont">
    <form action="/changePass">
      <input type="password" name='psswd1' id="psswd1" class="form-control" placeholder="New Password" required autofocus>
      <br><br>
      <a>
        <button class="change" type="submit">Change Password</button>
      </a>
    </form>
    </div>

    <span style="position: absolute; bottom: 5px; right: 5px;
                 background-color: black">
    <a style="color: white; font-size: 16px; text-decoration: none"
     href="https://gopoly.com/images/2020/7/8/CPCampusByBrittanyAnzelApp.jpg?width=1416&height=797
           &mode=crop&scale=both&format=jpg&quality=80" target="_blank">
      Photo Credits: Brittany App (click here for photo link)
    </a>
    </span>

  </body>

</html>
